.its-battlefield {

  &__fight-area {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    min-height: 230px;
    background-color: #455a64;
    border: solid black;
  }
}
