swagger: "2.0"
info:
  description: Some usefull description
  title: IT-Stone Server
  version: 0.0.2
consumes:
  - application/json
produces:
  - application/json
schemes:
  - http
basePath: /api
paths:
  /v0/cards:
    get:
      tags:
        - card
      operationId: getCards
      responses:
        200:
          description: Cards array
          schema:
            type: array
            items:
              $ref: "#/definitions/Card"
        404:
          description: A card with the specified ID was not found.
          schema:
            $ref: "#/definitions/Error"
        default:
          description: generic Error response
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
        - card
      operationId: createCard
      parameters:
        - name: card
          in: body
          schema:
            $ref: "#/definitions/Card"
      responses:
        201:
          description: Created
          schema:
            $ref: "#/definitions/CreatedEntity"
        default:
          description: Error
          schema:
            $ref: "#/definitions/Error"
  /v0/cards/{id}:
    parameters:
      - type: string
        name: id
        in: path
        required: true
    get:
      tags:
        - card
      operationId: getCard
      responses:
        200:
          description: Return a card with the specified ID
          schema:
            $ref: "#/definitions/Card"
        404:
          description: The card with the specified ID was not found.
          schema:
            $ref: "#/definitions/Error"
        default:
          description: generic Error response
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
        - card
      operationId: updateCard
      parameters:
        - name: card
          in: body
          schema:
            $ref: "#/definitions/Card"
      responses:
        200:
          description: The card has been updated
          schema:
            $ref: "#/definitions/Card"
        default:
          description: Error
          schema:
            $ref: "#/definitions/Error"
    delete:
      tags:
        - card
      operationId: deleteCard
      responses:
        204:
          description: The card has been deleted
        default:
          description: Error
          schema:
            $ref: "#/definitions/Error"

definitions:
  CreatedEntity:
    type: object
    required:
      - id
    properties:
      id:
        type: string

  Card:
    type: object
    required:
      - name
      - class
    properties:
      id:
        type: string
      class:
        type: string
      name:
        type: string
      surname:
        type: string
      image:
        type: string
      skills:
        type: array
        items:
          type: string
      hp:
        type: number
      damage: 
        type: number
      mana_cost:
        type: number
      effects:
        type: object

  Error:
    type: object
    required:
      - message
    properties:
      code:
        type: integer
        format: int64
      message:
        type: string
