@import '../../settings';

.card-detail {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #596275;
    padding: 30px;

    .card-detail__title {
        margin-bottom: 53px;
        color: $antiquewhite;
        font-weight: 300;
    }

    .card-detail__field {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .card-detail__edit-side {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 50px;
            .mat-accordion {
                .mat-accordion__panel {
                    background-color: $antiquewhite;
                    .mat-accordion__header {
                        text-align: center;
                        .mat-accordion__title {
                            font-size: $big-size;
                        }
                    }
                    .mat-form-field {
                        margin: 13px 10px 0;
                        width: 270px;
                        font-size: $default-bigger;
                        .mat-form-field_number-input {
                            padding-left: 7px;
                        }
                    }
                }
            }
            
        }
    
        .card-detail__visual-side {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 50px;
            position: relative;
            
            .card-detail__btn {
                position: absolute;
                box-sizing: border-box;
                border: 2px solid #fff;
                &:hover {
                    transform: scale(1.2);
                    transition: ease 0.6s;
                }
            }
            .card-detail__btn_create {
                background-color: #007bff;
                color: #fff;
                right: -14px;
                top: -10px;
            }
            .card-detail__btn_update {
                background-color: lightgreen;
                color: #fff;
                left: -14px;
                top: -10px;
            }
            .card-detail__btn_delete {
                color: #fff;
                right: -14px;
                top: -10px;
            }
            .card-detail__btn-icon {
                font-size: 35px;
                line-height: 0;
            }
        }
    }
}