@import '../../settings';

.card-detail {
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;

    .card-detail__title {
        margin-bottom: 40px;
    }

    .card-detail__field {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .card-detail__edit-side {
            display: flex;
            flex-direction: column;
            align-items: center;
            .mat-form-field {
                margin-top: 13px;
                text-align: center;
                width: 270px;
                font-size: 19px;
                .mat-form-field_number-input {
                    padding-left: 7px;
                }
            }
        }
    
        .card-detail__visual-side {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}