.card {
    box-shadow: 0 2px 2px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
    width:100px;
    height: 150px;
    background-color: #fff;
    margin-left: 20px;
    transform:translate(0, 50px) 
}

/* .card:hover {
    transform:translate(0, 0) 
} */

.person-block {
    padding-top: 10px;
}

.image-block {
    border: 2px solid #00DEDF;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.image {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin: 0 auto;
}

.name-block {
    text-align: center;
}

.first-name {
    font-weight: bold;
}

.job-position {
    text-align: center;
    margin-top: 5px;
}

.skills-block {
    
}

.skill-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.skil-item{
    color: #fff;
    padding-left: 5px;
    padding-top: 2px;
    background-color:  #00DEDF;
}

.skil-item:nth-child(2){
    color: #fff;
    padding-left: 5px;
    padding-top: 2px;
    background-color:  #01CDCC;
}




