<div class="card">
    <div *ngIf="isShowCard">
        <div class="person-block">
            <div class="image-block">
                <img class="image"
                     src={{image}}>
            </div>

            <div class="hp">
                {{hp}}
            </div>

            <div class="name-block">
                <div class="first-name">{{firstName}}</div>
                <div class="last-name">{{lastName}}</div>
            </div>

            <div class="job-position">
                ...
            </div>
        </div>
        <div class="skills-block">
            <ul class="skill-list">
                <li class="skil-item">{{skil1}}</li>
                <li class="skil-item">{{skil2}}</li>
                <li class="skil-item">{{skil3}}</li>
            </ul>
        </div>

    </div>

</div>