<div class="card" cdkDrag>
  <div class="person-block">
    <div class="image-block">
      <img class="image" src="https://static.cdn.epam.com/avatar/60655420492f5fca5a2f840c132d7e82.jpg">
    </div>

    <div class="name-block">
      <div class="first-name">Valiantsin</div>
      <div class="last-name">Tsikhanau</div>
    </div>

    <div class="job-position">
      Web Developer
    </div>
  </div>
  <div class="skills-block">
    <ul class="skill-list">
      <li class="skil-item">Skil1 1</li>
      <li class="skil-item">Skil2 2</li>
      <li class="skil-item">Skil3 3</li>
    </ul>
  </div>
</div>
