<div class="card">
    <div *ngIf="isShowCard">
        <div class="person-block">
            <div class="image-block">
                <img class="image"
                     src={{person.picture}}>
            </div>

            <div class="name-block">
                <div class="first-name">{{person.firstName}}</div>
                <div class="last-name">{{person.lastName}}</div>
            </div>

            <div class="job-position">
                {{person.jobPosition}}
            </div>
        </div>
        <div class="skills-block">
            <ul class="skill-list">
                <li class="skil-item">{{person.skil1}}</li>
                <li class="skil-item">{{person.skil2}}</li>
                <li class="skil-item">{{person.skil3}}</li>
            </ul>
        </div>

    </div>

</div>