.game-field {
    margin:0px;
    padding: 0px;
    background: url('./../assets/bg.jpg');
    height: 100vh;
    width:100%;
    overflow: hidden;
}

.shadow {
    background-color: rgba(3, 3, 3, 0.7);
    min-height: 100vh;
    min-width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
}
.user1-field {
    border: 1px solid red;
    height: 180px;
    display: flex;
    align-items: center;
}

.battle-field {
    border: 1px solid yellow;
    height: 290px;
    display: flex;
    font-display: row;
}

.myActiveCard {
    border: 1px solid red;
    width: 50%;
    display: flex;
    font-display: row;
}

.enemyActiveCard {
    border: 1px solid blue;
    width: 50%;
    display: flex;
    font-display: row;
}

.user2-field {
    border: 1px solid green;
    height: 180px;
    display: flex;
    font-display: row;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 10ms cubic-bezier(0, 0, 0.2, 1);
  }
  