<div class="game-field">
  <div class="shadow">
    <div class="container">
      <div class="user1-field">
        <app-card ></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>

      <div class="battle-field">

      </div>

      <div class="user2-field">

      </div>
    </div>
  </div>
</div>
<app-signin></app-signin>

