<div class="game-field"
     *ngIf="status == Status.GameField">
    <div class="shadow">
        <div class="container">
            <div class="user1-field">
                <div class="user1-cards">
                    <app-card *ngFor="let person of enemyCard"
                              [isShowCard]="false"
                              [person]="person"></app-card>
                </div>

                <div class="countOfHp">
                    <h1>
                        {{enemyHp}}
                    </h1>
                </div>
            </div>

            <div class="battle-field">
                <div cdkDropList
                     #myActiveCardField="cdkDropList"
                     [cdkDropListData]="myActiveCard"
                     [cdkDropListConnectedTo]="[myCardRef]"
                     class="myActiveCard"
                     (cdkDropListDropped)="drop($event)">
                    <app-card *ngFor="let person of myActiveCard"
                              [person]="person"
                              [isShowCard]="true"
                              (click)="onCardSelect({type: 'my', person: person})"
                              cdkDrag></app-card>
                </div>

                <div class="enemyActiveCard">
                    <app-card *ngFor="let person of enemyActiveCard"
                              [person]="person"
                              [isShowCard]="true"
                              (click)="onCardSelect({type: 'enemy', person: person})"
                              cdkDrag></app-card>
                </div>
            </div>

            <div cdkDropList
                 #myCardRef="cdkDropList"
                 [cdkDropListData]="myCard"
                 [cdkDropListConnectedTo]="[myActiveCardField]"
                 class="user2-field"
                 (cdkDropListDropped)="drop($event)">
                <div class="user2-cards">
                    <app-card *ngFor="let person of myCard"
                              [person]="person"
                              [isShowCard]="true"
                              cdkDrag></app-card>
                </div>

                <div class="countOfHp">
                    <h1>
                        {{myHp}}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<app-signin *ngIf="status == Status.Auth"></app-signin>