.its-infobar {

    &__wrapper {
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;        
    }

    &-wrapper-player2-data {
        display: flex;
        flex-direction: column;
    }

    &-wrapper-player1-data {
        display: flex;
        flex-direction: column;
    }

    &__avatar {
        width: 100px;
        height: 90px;
    }

    &__hp-indicator {        
        width: 100px;
        height: 40px;
        font-size: 40px;
        text-align: center;        
        background-color: rgb(196, 196, 196);
        display: flex;
        align-items: center;
        justify-content: center
    }
    
    &__hp-indicator-value {        
        font-family: 'Righteous', cursive;        
    }

    &__deck {
        width: 100px;
        height: 85px;        
        background-image: url("./../../../assets/js-machine.jpg");
        background-repeat: round;
    }

    &__count-of-cards {
        font-family: 'Righteous', cursive;
        color: black;
        font-size: 100px;        
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

    &__deck-overlay {    
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgb(255, 218, 9);
    }

    &__deck-overlay:hover {    
        opacity: 1
    }

    &__turn-trigger {        
        width: 100px;
        height: 30px;        
        font-size: 23px;
        text-align: center;
        background-color: rgb(221, 206, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__turn-trigger:hover {        
        background-color: rgb(207, 177, 4);
    }

    &__turn-trigger-text {
        font-family: 'Righteous', cursive;
    }

    &__wrapper-player1-data{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__wrapper-player2-data{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }        
}
