<div class="its-infobar-block">
  <div class="its-infobar-wrapper">
    <div class="its-infobar-wrapper-player1-data">
      <div class="its-infobar__deck"></div>      
      <div class="its-infobar__hp-indicator">60</div>
      <img class="its-infobar__avatar" src="https://media.giphy.com/media/noZcx30MrDozK/giphy.gif">
    </div>
    <app-turn-button></app-turn-button>
    <div class="its-infobar-wrapper-player2-data">
      <img class="its-infobar__avatar" src="https://media.giphy.com/media/noZcx30MrDozK/giphy.gif">
      <div class="its-infobar__hp-indicator">60</div>
      <div class="its-infobar__deck"></div>
    </div>         
  </div>
</div>
