@import '../../settings';

.its-infobar {

    &-wrapper {
        width: 100px;
        height: 100vh;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    &-wrapper-player2-data {
        display: flex;
        flex-direction: column;
    }

    &-wrapper-player1-data {
        display: flex;
        flex-direction: column;
    }

    &__avatar {
        width: 100px;
        height: 90px;
    }

    &__hp-indicator {        
        width: 100px;
        height: 40px;
        font-size: $hp-size;
        text-align: center;        
        background-color: $grey-milk;
        display: flex;
        align-items: center;
        justify-content: center
    }
    
    &__hp-indicator-value {        
        font-family: $righteous-font;        
    }

    &__deck {
        width: 100px;
        height: 85px;        
        background-image: url("./../../../assets/js-machine.jpg");
        background-repeat: round;
    }

    &__count-of-cards {
        font-family: $righteous-font;
        color: $black;
        font-size: $count-cards-size;
        @include transform(translate(-50%, -50%));
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

    &__deck-overlay {    
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: $yellow-bright;
    }

    &__deck-overlay:hover {    
        opacity: 1
    }

    &__turn-trigger {        
        width: 100px;
        height: 30px;        
        font-size: $big-size;
        text-align: center;
        background-color: $yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__turn-trigger:hover {        
        background-color: $yellow-dark;
    }

    &__turn-trigger-text {
        font-family: $righteous-font;
    }

    &__wrapper-player1-data{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__wrapper-player2-data{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }        
}
