<div class="its-infobar-block">
  <div class="its-infobar-wrapper">
    <div class="its-infobar-wrapper-player1-data">
      <div class="its-infobar__deck">
          <div class="its-infobar__deck-overlay">
            <div class="its-infobar__count-of-cards">{{scndPlayercardLeft}}</div>
          </div>
      </div>
      <div class="its-infobar__hp-indicator"><div class="its-infobar__hp-indicator-value">{{scndPlayerHP$}}</div></div>
      <img class="its-infobar__avatar" src={{scndPlayerAvatar}}>
    </div>
    <div class="its-infobar__turn-trigger" (click)="turnTrigger()"><div class="its-infobar__turn-trigger-text">End turn</div></div>
    
    <div class="its-infobar-wrapper-player2-data">
      <img class="its-infobar__avatar" src={{fstPlayerAvatar}}>
      <div class="its-infobar__hp-indicator"><div class="its-infobar__hp-indicator-value">{{fstPlayerHP$}}</div></div>
      <div class="its-infobar__deck">
        <div class="its-infobar__deck-overlay">
          <div class="its-infobar__count-of-cards">{{fstPlayercardLeft}}</div>
        </div>
      </div>
    </div>         
  </div>
</div>
