<form class="sign-in">
  <h3 class="sign-in__title">Login</h3>
  <input 
      class="sign-in__email"
      type="text"
      placeholder="email"
      [(ngModel)] = "eMail"
      name="email"
      required 
      email
      #email="ngModel"
  />
  <input 
      class="sign-in__password"
      type="password" 
      placeholder="password"
      [(ngModel)]="password"
      name="password"
      required 
  />
  <button type="submit" (click)='handleClick()' [disabled]='email.invalid'>Login</button>
</form>