<div class="its-battlefield">
  <div class="its-battlefield__players-hands-wrapper">
    <app-player-hand
    [allCardsMy]="allCardsMy$"
    cdkDropList
    #enemyCardList="cdkDropList"
    [cdkDropListData]="allCardsMy$"
    [cdkDropListConnectedTo]="[enemyActiveFieldList]"
    (cdkDropListDropped)="drop($event)"
    ></app-player-hand>

    <app-active-card
    [myActiveCards]="enemyActiveCards"
    cdkDropList
    #enemyActiveFieldList="cdkDropList"
    [cdkDropListData]="enemyActiveCards"
    [cdkDropListConnectedTo]="[]"
    (cdkDropListDropped)="drop($event)"
    ></app-active-card>

    <app-active-card
    [myActiveCards]="myActiveCards"
    cdkDropList
    #myActiveFieldList="cdkDropList"
    [cdkDropListData]="myActiveCards"
    [cdkDropListConnectedTo]="[]"
    (cdkDropListDropped)="drop($event)"
    ></app-active-card>
    
    <app-player-hand
      [allCardsMy]="allCardsMy$"
      cdkDropList
      #myCardList="cdkDropList"
      [cdkDropListData]="allCardsMy$"
      [cdkDropListConnectedTo]="[myActiveFieldList]"
      (cdkDropListDropped)="drop($event)"
      ></app-player-hand>
  </div>
  <div>
    <app-infobar></app-infobar>
  </div>
</div>