<div class="cards-container">
  <app-card *ngFor="let card of allCardsMy$ | async" [card]="card" (click)="setSelectedCard(card, false)"></app-card>
  <div class="btnNewCard" (click)="setSelectedCard(templCard, true)">
    <div class="btnNewCard__container">
      <div class="btnNewCard__icon">+</div>
    </div>
  </div>
</div>
<app-card-detail 
  *ngIf="selectedCard" 
  [isEditor]="isItEditor" 
  [card]="selectedCard" 
  [cardDetailTitle]="cardDetailTitle"
  [checkedSkills]="checkedSkills"
  (wasRemovedCard)="changeSelectedToFirst()" 
  (wasAddedCard)="setSelectedCard(templCard, true)" 
></app-card-detail>