.sign-up{
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 0 auto;
    align-items: center;
}
.sign-up__title{
    margin-bottom: 10px;
}
.sign-up__nick-name{
    margin-bottom: 10px;
}
.sign-up__email{
    margin-bottom: 10px;

}
.sign-up__password{
    margin-bottom: 10px;
}