.its-player-hand {

  &__container {
    height: 220px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    background-color: #546e7a;
  }

  &__card {
    width: 150px;
    height: 200px;
    margin: 10px;
    background-color: #ff9800;
  }
}
