.its-player-hand {

  &__container {
    height: 220px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #546e7a;
  }
}
